/.idea/
/P01/.idea/
/P02/.idea/
/P03/.idea/
/P04/.idea/
/P05/.idea/
/P06/.idea/
/P07/.idea/
/P08/.idea/
/Py01/.idea/
/Py02/.idea/
/Py03/.idea/
/Py04/.idea/
/Py05/.idea/
/Py06/.idea/
/Py07/.idea/
/Py08/.idea/
/Py09/.idea/
/CMakeLists.txt/
/P01/cmake-build-debug/
/P02/cmake-build-debug/
/P03/cmake-build-debug/
/P04/cmake-build-debug/
/P05/cmake-build-debug/
/P06/cmake-build-debug/
/P07/cmake-build-debug/
/P08/cmake-build-debug/
/P09/cmake-build-debug/
/Py01/cmake-build-debug/
/Py02/cmake-build-debug/
/Py03/cmake-build-debug/
/Py04/cmake-build-debug/
/Py05/cmake-build-debug/
/Py06/cmake-build-debug/
/Py07/cmake-build-debug/
/Py08/cmake-build-debug/
/Py09/cmake-build-debug/
/Modelo_Teste1/cmake-build-debug/
/Modelo_Teste1/.idea/
/cmake-build-debug/
/Modelo_Teste1/.idea/
